@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.appContainer {
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;

    .formContainer {
        width: 100%;
        height: auto;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    
        form {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: column;
            margin: 20px;
        }
    }
}